.md-img {
  max-width: 70% !important;
  margin: 0 auto !important;
  width: 100%;
  width: auto;
  height: auto;
  display: block;

  @media (max-width: 767px) {
    max-width: 100% !important;
    margin-bottom: 0.2em;
  }
}

.md-yt {
  position: relative;
  height: 0;
  padding-bottom: 56%; /* The height of the item will now be 56% of the width. */
  max-width: 70%;
  margin: 0 auto;

  padding-top: 30px;
  overflow: hidden;
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.md-yt iframe. .md-yt object, .md-yt embed {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.md-at-person a {
  border-bottom: none !important;
  text-decoration: none !important;
  position: relative;
  letter-spacing: 0.001rem;
  padding: 0 6px;
  border-radius: 5px;
  background-color: #f1f3f9;
  color: #4c70bd;

  &:before{
    content: "@";
  }
}

.md-at-project a {
  border-bottom: none !important;
  text-decoration: none !important;
  position: relative;
  letter-spacing: 0.001rem;
  letter-spacing: 0;
  box-shadow: 0 2px 0 -1px #68b1bb;
  color: #68b1bb;
}

.md-hashtag a {
  border-bottom: none !important;
  text-decoration: none !important;
  position: relative;
  letter-spacing: 0.001rem;
  padding: 0 6px;
  border-radius: 5px;
  background-color: #f3f1f9;
  color: #7260af;

  &:before{
    content: "#";
  }
}

.md-hashtag-adhoc {
  border-bottom: none !important;
  text-decoration: none !important;
  position: relative;
  letter-spacing: 0.001rem;
  padding: 0 6px;
  border-radius: 5px;
  background-color: #f3f1f9;
  color: #7260af;
}

.md-blockquote {
  margin: 1rem 0;
  padding: .25rem .5rem;
  background: #f4f3f9;
  border-left: 5px solid #aeb7c8;
  position: relative;
  display: flex;
}

table.md-table
{
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-collapse: collapse;
    overflow-x: scroll;
}

table.md-table > thead > tr > th
{
    padding: 8px;
    line-height: 1.4285714;
    border-top: 1px solid #ddd;
}

table.md-table > thead > tr > td,
table.md-table > tbody > tr > th,
table.md-table > tbody > tr > td,
table.md-table > tfoot > tr > th,
table.md-table > tfoot > tr > td
{
    padding: 8px;
    line-height: 1.4285714;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

table.md-table > thead > tr > th
{
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}

table.md-table > caption + thead > tr:first-child > th,
table.md-table > caption + thead > tr:first-child > td,
table.md-table > colgroup + thead > tr:first-child > th,
table.md-table > colgroup + thead > tr:first-child > td,
table.md-table > thead:first-child > tr:first-child > th,
table.md-table > thead:first-child > tr:first-child > td
{
    border-top: 0;
}

table.md-table > tbody + tbody
{
    border-top: 2px solid #ddd;
}


/* Condensed */
table.md-table > thead > tr > th,
table.md-table > thead > tr > td,
table.md-table > tbody > tr > th,
table.md-table > tbody > tr > td,
table.md-table > tfoot > tr > th,
table.md-table > tfoot > tr > td
{
    padding: 5px;
}

/* Bordered */
table.md-table,
table.md-table > thead > tr > th,
table.md-table > thead > tr > td,
table.md-table > tbody > tr > th,
table.md-table > tbody > tr > td,
table.md-table > tfoot > tr > th,
table.md-table > tfoot > tr > td
{
    border: 1px solid #ddd;
}

table.md-table > thead > tr > th,
table.md-table > thead > tr > td
{
    border-bottom-width: 2px;
}


/* Striped */
table.md-table > tbody > tr:nth-child(odd) > td,
table.md-table > tbody > tr:nth-child(odd) > th
{
    background-color: #f9f9f9;
}


/* Hover */
table.md-table > tbody > tr:hover > td,
table.md-table > tbody > tr:hover > th
{
    background-color: #f5f5f5;
}
